.about_div{
    width: 100%;
    min-height: 89vh;
    /* border: 1px solid red; */
    display: block;
}
.bloc_image{
    display: flex;
    /* position: absolute; */
    /* z-index: -1; */
    width: 100%;
    height: 250px;
    /* border: 1px solid rgb(76, 0, 255); */
    background-size: cover;
    background: rgba(238, 238, 238, 0.555);
    object-fit: contain;
    /* background: url("../../assets/img/cars-img/evgeny-tchebotarev-aiwuLjLPFnU-unsplash.jpg"); */
}
.bloc_img_about{
    /* left: 0; */
    display: flex;
    /* position: absolute; */
    width: 90%;
    /* border: 1px solid rgb(76, 0, 255); */
    background-size: cover;
    background: rgb(255, 255, 255);
    object-fit: contain;
    margin:3% 5% 0 5% ;
    /* background: url("../../assets/img/cars-img/evgeny-tchebotarev-aiwuLjLPFnU-unsplash.jpg"); */
}
.bloc_formula {
    /* right: 0; */
    display: flex;
    /* position: absolute; */
    /* z-index: 2; */
    width: 60%;
    /* height: 500px; */
    /* border: 1px solid rgb(76, 0, 255); */
    background: rgb(255, 255, 255);
    margin:2% auto ;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.11);
}
.bloc_imgAbout{
    width: 100%;
    height: 100%;
    position: relative;
}
.imageAbout {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.bloc_infoAbout {
    top: 0;
    left: 0;
    /* position: absolute; */
    object-fit: cover;
}
.h3_about{
    color: rgb(32, 32, 32);
    width: 90%;
    margin: 2% 0 1% 5%;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.small_about{
    color: rgb(36, 36, 36);
    width: 80%;
    margin: 1% 0 3% 5%;
    font-weight: 500;
    font-size: 0.9rem;
    /* text-transform: uppercase; */
}
.text_about {
    color: rgb(36, 36, 36);
    width: 80%;
    margin: 1% 0 2% 5%;
    font-weight: 300;
    font-size: 1rem;
    /* text-transform: uppercase; */
}

.form_about{
    width: 100%;
    display: inline-block;
    padding: 0 7%
}
.title_form_about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7% 0 1% 0;
    font-weight: 700;
    font-size: 2.3rem;
    text-transform: uppercase;
    color: rgb(32, 32, 32);
}
.small_text_form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(32, 32, 32);
    width: 86%;
    margin: 1% 0 2% 0;
    font-weight: 300;
    font-size: 1rem;
    /* border: 1px solid rgb(76, 0, 255); */
    /* text-transform: uppercase; */
}
.text_about_input {
    position: relative;
    width: 90%;
    padding: 10px;
    background: #f9f9f9;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 5%;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}
.textarea_about {
    position: relative;
    width: 90%;
    padding: 10px;
    background: #f9f9f9;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 5%;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
    height: 110px;
}
.btn_about {
    /* max-width: 100px; */
    background: #f5a142;
    height: 40px;
    width: 40%;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
    border: none;
    padding: 5px 0;
    margin: 5px auto;
    display: block;
    transition: 0.3s ease;
}
.btn_about {
    /* max-width: 100px; */
    background: #f19021;
    transition: 0.3s ease;
}
.nav-item{
    cursor: pointer !important;
}