.show_images{
    width: 90%;
    display: flex;
    overflow: hidden;
    /* border: 2px solid rgb(177, 228, 36); */
    height: 570px;
    margin:1% 5%;
    background-color: #b9b9b9ad;
    justify-content: center;
    align-items: center;
    /* border-radius:5px; */
}
.showImage_bloc{
    width: 100%;
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid rgb(47, 81, 231); */
}
.showImage_img {
    object-fit: cover !important;
    max-width: 100% !important;
    max-height: 100% !important;
    /* border: 2px solid rgb(231, 47, 47); */
}
.show_infos{
    width:75%;
    /* border:1px solid red; */
    margin :1% 1% 1% 0;
    display:inline-block;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.185);
    padding: 1% 1%;
}
.part_name_show {
    width:20.5%;
    /* border:1px solid rgb(255, 174, 0); */
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.185);
    margin :2% 0 1% 1%;
    display:inline-block;
    height: 250px;
    border-radius: 5px;
}
.under_img{
    width: 100%;
    padding: 0 5%;
    display: inline-block;
}
.bloc_name_show {
    width: 100%;
    display: flex;
    align-items: center;
}
.div_heart {
    text-align: right;
}
.name_show{
    font-weight: 400;
    font-size: 2.8rem;
    color: #1f1f1f;
    width: 90%;
    margin-bottom: 5px;
    text-transform: uppercase;
    margin: 0;
}
.surname_show {
    font-weight: 300;
    font-size: 1.4rem;
    color: #222222;
    width: 100%;
    margin-bottom: 10px;
    /* text-transform: uppercase; */
}
.year_mile {
    font-weight: 300;
    font-size: 1.1rem;
    color: #2c2c2c;
    width: 100%;
    margin-bottom: 5px;
    /* text-transform: uppercase; */
}
.general_info{
    font-weight: 600;
    font-size: 1.1rem;
    color: #1a1919;
    width: 100%;
    margin-bottom: 10px;
    padding:2% 0;
    border-bottom : 1px solid rgba(221, 138, 14, 0.63);
}
.show_details{
    width: 100%;
    padding-bottom: 2%;
    /* border-bottom : 1px solid rgba(32, 32, 32, 0.664); */
    display: flex;
    padding : 0 5%
}
.schedule_bloc {
    width: 100%;
    padding-bottom: 2%;
    /* border-bottom : 1px solid rgba(32, 32, 32, 0.664); */
    display: flex;
    padding : 0 1%;
    align-items: center;
}
.p_nameElement{
    font-weight: 500;
    font-size: 1.1rem;
    color: #1d1d1d;
    width: 50%;
    margin-bottom: 15px;
    display : flex;
    align-items: center;
}
.p_Element{
    font-weight: 300;
    font-size: 1.1rem;
    color: #2c2c2c;
    width: 50%;
    margin-bottom: 15px;
}
.p_Element_status{
    font-weight: bolder;
    font-size: 1.1rem;
    color: #f08812;
    width: 50%;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.icon_show{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 3%;
}
.p_Schedule{
    font-weight: 500;
    font-size: 1.1rem;
    color: #1d1d1d;
    width: 50%;
    height: 100%;
    margin-bottom: 15px;
    display : flex;
    align-items: center;
}
.btn_schedule {
    font-weight: 300;
    font-size: 1rem;
    line-height: 22px;
    color: #ffffff;
    width: 30%;
    background: #f38e0a;
    border: none;
    margin-bottom: 5px;
    padding: 7px 0;
    transition: 0.2s all linear;
}

.btn_schedule:hover {
    background: #fc8d0f;
    transition: 0.2s all linear;
}
.btn_schedule {
    font-weight: 300;
    font-size: 1rem;
    line-height: 22px;
    color: #ffffff;
    width: 30%;
    background: #f38e0a;
    border: none;
    margin-bottom: 5px;
    padding: 7px 0;
    transition: 0.2s all linear;
}

.btn_schedule:hover {
    background: #fc8d0f;
    transition: 0.2s all linear;
}
.price_car_show{
    font-weight: 500;
    font-size: 2rem;
    color: #e68c06;
    width: 90%;
    padding-bottom: 5%;
    margin: 5% 5%;
    border-bottom: 1px solid rgba(61, 60, 60, 0.61);
    /* text-align: center; */
}
.contact_hilaire{
    font-weight: 400;
    font-size: 1.1rem;
    color: #363636;
    width: 90%;
    padding: 2% 3%;
    margin: 5% 5%;
    /* border-bottom: 1px solid rgba(61, 60, 60, 0.61); */
    background: rgba(190, 187, 187, 0.486);
    display: flex;
    align-items: center;
}
.number_seller {
    font-weight: 500;
    font-size: 1.1rem;
    color: #363636;
    width: 90%;
    margin: 0 5%;
    /* border-bottom: 1px solid rgba(61, 60, 60, 0.61); */
    background:transparent;
    display: flex;
    align-items: center;
}
.contact_us {
    font-weight: 300;
    font-size: 1rem;
    line-height: 22px;
    color: #ffffff;
    width: 90%;
    background: #f38e0a;
    border: none;
    margin: 5% 5%;
    padding: 9px 0;
    transition: 0.2s all linear;
}
.contact_us:hover {
    background: #fc8d0f;
    transition: 0.2s all linear;
}
.any_question{
    width: 67.5%;
    display: block;
    margin: 2% 5%;
    background: #f1f1f1a2;
    border: 1px solid rgba(43, 43, 43, 0.315);
    padding: 1% 3%;
}
.question_h3{
    font-weight: 500;
    font-size: 1.6rem;
    color: #1d1d1d;
    width: 50%;
    height: 100%;
    margin-bottom: 15px;
    display : flex;
    align-items: center;
}
.link_host{
    color: #e48d0b;
}
.link_host:hover{
    color: #e48d0b;
}
.host_name,
.host_mail,
.host_number{
    font-weight: 500;
}
.similar_cars{
    width: 100%;
    display: block;
    padding: 2% 0;
    background: rgba(243, 243, 243, 0.685);
}
.p_similar{
    font-weight: 500;
    font-size: 2.6rem;
    color: #1d1d1d;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    display : flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.bloc_similar {
    width: 100%;
    display: flex;
    margin: 1% auto;
    justify-content: center;
    overflow: hidden;
}
.div_similar_cars {
    width: 85%;
    display: block;
    margin: 1% auto;
    padding: 0 0 2% 0;
    /* border: 1px solid rgb(77, 55, 13) */
    box-shadow: 0px 0px 15px 3px rgba(70, 70, 70, 0.123);
}
.div_similar_img_cars {
    width: 100%;
    display: flex;
    height: 140px;
}
.mark_similar_cars {
    width: 96%;
    display: flex;
    /* justify-content: center; */
    margin: 1% 2%;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 22px;
    color: #1a1a1a;
}
.title_similar_cars {
    width: 96%;
    display: flex;
    /* justify-content: center; */
    margin: 1% 2%;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 22px;
    color: #1a1a1a;
}
.cars_similar_priceS {
    width: 96%;
    display: flex;
    /* justify-content: center; */
    margin: 1% 2%;
    font-weight: 500;
    font-size: 1rem;
    line-height: 22px;
    color: #cf6f00;
}
.view_similar_details_cars {
    font-size: 0.8rem;
    /* margin: 2% 0; */
    /* line-height: 22px; */
    border-width: 1px;
    color: #e47f0d;
    background-color: transparent;
    margin-bottom: 0;
    text-align: center;
    border: none;
    transition: ease-in-out 0.3s;
    letter-spacing: 1px;
    padding: 3px 15px;
    font-weight: 500;
}

.view_similar_details_cars:hover {
    transition: ease-in-out 0.3s;
    color: #f18304;
    text-decoration: underline;
    /* background-color: #c26904; */
}
.bloc_edit{
    width: 100%;
    display: flex;
    padding: 3% 5%;
}
.btn_edit {
    font-weight: 300;
    font-size: 1rem;
    line-height: 22px;
    color: #ffffff;
    width: 20%;
    background: #03b8b8;
    border: none;
    margin: 5px 0 5px 80%;
    padding: 7px 0;
    transition: 0.2s all linear;
    right: 0;
}

.btn_edit:hover {
    background: #01a2d3;
    transition: 0.2s all linear;
}
.modal_schedule{
    display:flex;
    width: 60%;
    max-width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 29999;
    background-color: #fff;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.164);
}
.close_modal {
    position: absolute;
    display: flex;
    right: 0;
    z-index: 50000;
    outline: none;
    color: #ffffff;
    background: rgb(247, 151, 7);
    border: none;
    font-size: 1.9rem;
    cursor: pointer;
    transition: ease 0.3s;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.close_modal:hover {
    color: rgb(255, 255, 255);
    background: rgb(255, 153, 0);
    transition: ease 0.3s;
}
.let_s{
    width: 100%;
    font-weight: 500;
    font-size: 2rem;
    color: #ffffff;
    background: rgb(247, 151, 7);
    padding: 6px 20px;
    height: 60px;
    align-items: center;
    display: flex;
    border-radius: 5px 5px 0 0;
}
.part_name_mobile{
    display: none;
}
.modal_show{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 5000;
    background: rgba(0, 0, 0, 0.911);
    justify-content: center;
    align-items: center;
    padding: 1% 0;
}
.modal_container {
    width: 93%;
    height: 98vh;
    background: transparent;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_btn_close {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    margin: 1% 0% 0 0.5%;
    padding: 3px 10px;
    color: black;
    background: rgba(255, 255, 255, 0.459);
    border: none;
    box-shadow: 0px 0px 5px 1px rgba(70, 70, 70, 0.123);
    font-weight: 600;
    font-size: 1rem;
    content: normal;
}
.view_modal {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
    margin: 0% 10% 5% 0%;
    padding: 5px 30px;
    color: rgb(255, 255, 255);
    background: rgb(245, 133, 4);
    border: 2px solid rgb(245, 133, 4);
    /* box-shadow: 0px 0px 5px 1px rgba(70, 70, 70, 0.123); */
    font-weight: 600;
    font-size: 1rem;
    transition: ease-in-out 0.3s;
    z-index: 10;
}
.view_modal:hover {
    color: rgb(255, 255, 255);
    background: rgb(255, 136, 0);
    border: 2px solid white;
    transition: ease-in-out 0.3s;
}
.imgModal{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}
.carousel .thumbs-wrapper {
    margin: 10px !important;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}
.heart-checkbox.checked {
    background-color: rgb(243, 120, 6) !important;
}
.heart-checkbox.checked::before {
    background-color: rgb(243, 120, 6) !important;
}
.heart-checkbox.checked::after {
   background-color: rgb(243, 120, 6) !important
}
.heart-checkbox::before {
    content: "";
    display: block;
    position: relative;
    right: 12.5px !important;
    width: 25px !important;
    height: 25px !important;
    margin: 0;
    padding: 0;
    outline: 0;
    border-radius: 50%;
    background-color: #f8e3cd !important;
    /* border: 1px solid black; */
    transition: all .3s;
}
.heart-checkbox::after {
    content: "";
    display: block;
    position: relative;
    bottom: 12.5px !important;
    width: 25px !important;
    height: 25px !important;
    margin: 0;
    padding: 0;
    outline: 0;
    border-radius: 50%;
    background-color: #f8e3cd !important;
    /* border: 1px solid black; */
    transition: all .3s;
}
.heart-checkbox {
    box-sizing: border-box;
    width: 25px !important;
    height: 25px !important;
    margin: 0 0 0 20% !important;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: #f8e3cd !important;
    /* border: 1px solid black; */
    cursor: pointer;
    box-shadow: none !important;
    transform: rotate(135deg);
    transition: all .3s;
}
.change_status{
    margin-left: 3%;
    border: none;
    background: rgb(5, 207, 123);
    color: white;
    padding: 3px 10px;
}
@media (max-width:858px){
    .change_status {
        padding: 2px 5px;
    }
    .carousel .thumbs-wrapper {
        display: none !important;
    }
    .show_images{
        height: 180px;
    }
    .showImage_bloc{
        height: 180px;
    }
    .part_name_show {
        display: none;
    }
    .show_infos {
        width: 100%;
    }
    .p_Schedule {
        width: 65%;
    }
    .btn_edit {
        width: 40%;
        margin: 5px 0 5px 60%;
    }
    .any_question {
        width: 90%;
        display: block;
        margin: 2% 5%;
        background: #f1f1f1a2;
        border: 1px solid rgba(43, 43, 43, 0.315);
        padding: 1% 3%;
    }
    .part_name_mobile{
        display: flex;
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 0;
        width: 100%;
        background: white;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.164);
        align-items: center;
    }
    .price_car_show_2 {
        font-weight: bolder;
        font-size: 1.5rem;
        color: #e68c06;
        width: 40%;
        margin: 5% 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid rgba(43, 43, 43, 0.315); */
        /* text-align: center; */
    }
    .contact_hilaire {
        font-weight: bolder;
        font-size: 1rem;
        color: #363636;
        width: 60%;
        margin: 5% 5%;
        /* border-bottom: 1px solid rgba(61, 60, 60, 0.61); */
        background: rgba(255, 255, 255, 0.486);
        /* border: 1px solid rgba(43, 43, 43, 0.315); */
        display: flex;
        align-items: center;
    }
    .icon_show {
        width: 20px;
        height: 20px;
    }
    .view_modal {
        top: 0;
        margin: 60% 10% 0 0 ;
        height: 30px;
        padding: 0 20px;
    }
    .name_show {
        font-weight: bolder;
        font-size: 1.5rem;
    }
    .heart-checkbox::before {
        right: 10px !important;
        width: 20px !important;
        height: 20px !important;
    }
    .heart-checkbox::after {
        bottom: 10px !important;
        width: 20px !important;
        height: 20px !important;
    }
    .heart-checkbox {
        width: 20px !important;
        height: 20px !important;
    }
    .div_heart {
        padding: 3% 0 0 0;
    }
}
@media (min-height:849px){
    .view_modal{
        margin: 0% 10% 20% 0%;
    }
}