.nav_bar {
    /* background-color: rgb(252, 109, 14); */
    height: 80px;
    width: 100%;
}

.logo {
    color: rgb(219, 66, 6);
    font-size: 3.5rem;
    line-height: 80px;
    font-weight: bolder;
}

.menu_link {
    text-align: left;
    margin: 0 !important;
    margin-right: 20px;
    top:0;
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    /* width: 70%; */
}
.navbar-brand{
    padding: 0 7px !important;
    border-radius: 3px;
}
.li_menu {
    display: inline-block;
    margin: 0 5px;
    line-height: 80px;
}
.a_menu {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
    font-weight: 500;
}

.actives,
.a_menu:hover {
    background: rgb(168, 67, 0);
    transition: .5s;
    text-decoration: none;
    color: #fff;
}

.check_label {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
    cursor: pointer;
    outline: none;
}

#check {
    display: none;
}
.mobileLogo{
    display: none;
}
.div_img{
    height: 65vh;
}
@media (max-width:952px) {
    .logo {
        font-size: 2rem;
        padding-left: 20px;
        color: white;
    }
    .a_menu {
        font-size: 16px;
    }
}

@media (max-width:858px) {
    .navbar {
        padding-top: 0 !important;
        padding-right: 0 !important;
    }
    .div_top{
        display: none;
    }
    .mobileLogo {
        display: block;
    }
    .check_close{
        position: absolute;
        right: 0;
        color: #fff;
        top: 0;
    }
    .check_label {
        display: block;
        outline: none;
    }

    .menu_link {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        background: rgb(238, 137, 69);
        top: 0px;
        left: 100%;
        text-align: center;
        transition: all .5s;
        padding: 15% 0 0 0;
    }
    .li_menu {
        display: block;
        margin: 0 0 30px 0;
        line-height: 30px;
    }

    .a_menu {
        font-size: 20px;
    }

    .a_menu:hover,
    .actives {
        background: none;
        color: rgb(235, 235, 235);
    }

    #check:checked~.menu_link {
        left: 5%;
        outline: none;
    }
}